@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    0deg,
    lemonchiffon 23.8%,
    palegreen 92%
  );
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 10px;
}
h2 {
  text-align: center;
  margin: 0;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  
  position: relative;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  margin: 0 10px;
}

.inner-container {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 10px;
}

.img-container img {
  width: inherit;
  height: inherit;
  object-fit: contain;
}

.img-container {
  width: 150px;
  margin: 0 75px;
}

.visualizer {
  width: 640px;
  height: 360px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #cdc2d0;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  font-size: 40px;
}

.music-container.play .music-info {

}

.progress-container {
  background-color: lightgrey;
  cursor: pointer;
  height: 8px;
  width: 100%;
  margin: 5px 0;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
